<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 主页</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <!-- layui -->
	<link rel="stylesheet" href="__ADMINCSS__/style.css"  media="all">
	<link rel="stylesheet" href="__LAYUI__/css/layui.css"  media="all">
	<script src="__LAYUI__/layui.js" charset="utf-8"></script>
	
</head>

<body class="gray-bg">
    
	
	<div class="layui-container">
	  <div class="layui-row">
	    <table class="layui-table">
	  <colgroup>
	    <col width="150">
	    <col width="200">
	    <col>
	  </colgroup>
	  <thead>
	    <tr>
	      <th>昵称</th>
	      <th>加入时间</th>
	      <th>签名</th>
	    </tr> 
	  </thead>
	  <tbody>
	    <tr>
	      <td>贤心</td>
	      <td>2016-11-29</td>
	      <td>人生就像是一场修行</td>
	    </tr>
	    <tr>
	      <td>许闲心</td>
	      <td>2016-11-28</td>
	      <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
	    </tr>
	  </tbody>
	</table>
	  </div>
	</div>  
</body>

</html>