<?php
use think\Db;
?>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="__ADMINCSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__ADMINCSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMINCSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__ADMINCSS__/animate.min.css" rel="stylesheet">
    <link href="__ADMINCSS__/style.min.css?v=4.0.0" rel="stylesheet">
	
	<link href="__LAYUI__/css/layui.css" rel="stylesheet">
	<script src="__LAYUI__/layui.js"></script>
</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改栏目</h5>
                        <div class="ibox-tools">
                            <a href="javascript:location=location;">刷新</a>
                        </div>
                    </div>
                    <div class="ibox-content">
							

                        <form action="{:url('admin/category/edit')}" method="post" class="form-horizontal ">
													
							<div class="form-group">
                                <label class="col-sm-2 control-label">请选择模型</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b" name="moduleid">
                                        
										{volist name="module" id="vo"}
										<option value="{$vo.id}" {if condition="$vo.id == $row.moduleid"}selected{/if} >{$vo.title}</option>	
										{/volist}
                                    </select>

                                </div>
                            </div>
							
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">父级</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b" name="parentid">
                                        <option value="0">默认顶级</option>
										<?php
										
										function Show($id=0, $i=0,$parentid)
										{
											$res=Db::name('category')->where('parentid',$id)->order('orderid asc')->select();
											foreach($res as $vo){
										?>
											<option value="{$vo['id']}" {if condition = "$vo.id == $parentid"}selected{/if}>
											<?php
												for($j=0;$j<$i;$j++){
													if($vo['parentid'] != 0){
															echo '|—';
														}
												}
											?>
											{$vo['catname']}
											</option>
										<?php
											Show($vo['id'],$i+1,$parentid);
											}
										}
										Show(0,0,$row['parentid']);
										?>
                                    </select>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-sm-2 control-label">栏目名称</label>

                                <div class="col-sm-2">
                                    <input value="{$row.catname}" name="catname" type="text" class="form-control" placeholder="请输入栏目名称" required="" >
                                </div>
								
								<label class="col-sm-1 control-label">栏目副标题</label>
								<div class="col-sm-2">
                                    <input value="{$row.catname1}" name="catname1" type="text" class="form-control" placeholder="请输入栏目名称"  >
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">栏目目录</label>

                                <div class="col-sm-2">
                                    <input value="{$row.catdir}" name="catdir" type="text" class="form-control" placeholder="请输入栏目目录"  >
                                </div>
								
								<label class="col-sm-1 control-label">url链接</label>
								<div class="col-sm-2">
                                    <input value="{$row.url}" name="url" type="text" class="form-control" placeholder="请输入站外链接"  >
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">缩略图片</label>

                                <div class="col-sm-5">
                                    <input value="{$row.picurl}" id="picurl" name="picurl" type="text" class="form-control" placeholder=""  >
									
									<div class="layui-upload">
									  <button class="layui-btn" id="imgupload" type="button">上传图片</button>
									  <div class="layui-upload-list">
										<img src="{if condition='$row.picurl'}__ROOT__{$row.picurl}{/if}" class="layui-upload-img" id="demopic" style="width: 100px;">
										<p id="demoText"></p>
									  </div>
									</div> 
								</div>
                            
							</div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">SEO标题</label>

                                <div class="col-sm-2">
                                    <input value="{$row.title}" name="title" type="text" class="form-control" placeholder="请输入栏目名称"  >
                                </div>
								
								<label class="col-sm-1 control-label">SEO关键字</label>
								<div class="col-sm-2">
                                    <input value="{$row.keywords}" name="keywords" type="text" class="form-control" placeholder="请输入栏目名称" >
                                </div>
                            </div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">SEO描述</label>
								<div class="col-sm-5">
									<textarea name="description" rows="3" cols="40" class="form-control" >{$row.catname}</textarea>
								</div>
							</div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">导航</label>
								<div class="radio i-checks">
									<label>
										<input {if condition="$row.ismenu == 1"}checked{/if} type="radio"  value="1" name="ismenu"> <i></i> 是
										<input {if condition="$row.ismenu == 0"}checked{/if} type="radio"  value="0" name="ismenu"> <i></i> 否
										
									</label>
								</div>
                            </div>
							<div class="form-group">
								<label class="col-sm-2 control-label">访问权限</label>
								<div class="col-sm-5">
									
									<div class="checkbox i-checks">
										<label>
											{volist name="quanx" id="vo"}
											<input <?php if(in_array($vo['group_id'],explode(',',$row['readgroup']))){ echo 'checked';}?> type="checkbox" name = "readgroup[]" value="{$vo.group_id}" > <i></i>{$vo.title}
											{/volist}
										
										</label>
									</div>
									
								</div>
							</div>
							
							
							
							<div class="form-group">
								<label class="col-sm-2 control-label">频道页模板</label>
								<div class="col-sm-3">
									<div class="layui-form">
										<select name="template_category"  lay-search="">
											  <option value="">直接选择或搜索选择</option>
											  {volist name="files" id="vo"}
											<option value="{$vo}" {if condition="$vo == $row.template_category"}selected{/if} >{$vo}</option>
											{/volist}
										</select>
									</div>
									
								</div>
								<label class="col-sm-1 control-label" style="width:180px;color:#999;">*此处可直接打字搜索</label>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">列表页模板</label>
								<div class="col-sm-3">
									<div class="layui-form">
										<select name="template_list"  lay-search="">
											  <option value="">直接选择或搜索选择</option>
											  {volist name="files" id="vo"}
											<option value="{$vo}" {if condition="$vo == $row.template_list"}selected{/if} >{$vo}</option>
											{/volist}
										</select>
									</div>
								</div>
								<label class="col-sm-1 control-label" style="width:180px;color:#999;">*此处可直接打字搜索</label>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">内容页模板</label>
								<div class="col-sm-3">
									<div class="layui-form">
										<select name="template_show"  lay-search="">
											  <option value="">直接选择或搜索选择</option>
											  {volist name="files" id="vo"}
											<option value="{$vo}" {if condition="$vo == $row.template_show"}selected{/if}  >{$vo}</option>
											{/volist}
										</select>
									</div>
								</div>
								<label class="col-sm-1 control-label" style="width:180px;color:#999;">*此处可直接打字搜索</label>
							</div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>

                                <div class="col-sm-3">
                                    <input name="orderid" type="text" class="form-control" value="{$row.orderid}" required="">
                                </div>
                            </div>
							
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
									<input type="hidden" name="id" value="{:input('param.id')}">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button onclick="javascript:history.back();" class="btn btn-white" type="button">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__ADMINJS__/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMINJS__/bootstrap.min.js?v=3.3.5"></script>
    <script src="__ADMINJS__/content.min.js?v=1.0.0"></script>
    <script src="__ADMINJS__/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
	
	
    <script>
		layui.use(['upload','form', 'layedit', 'laydate'], function(){
		  var $ = layui.jquery
		  ,upload = layui.upload;
		  
		  //普通图片上传
		  var uploadInst = upload.render({
			elem: '#imgupload',
			url: '{:url("upFiles/upload")}',
			exts: 'jpg|jpeg|png|gif', //那么，就只会支持这三种格式的上传。注意是用|分割。
			size : 1000 ,//限制1M
			before: function(obj){
			  //预读本地文件示例，不支持ie8
			  obj.preview(function(index, file, result){
				$('#demopic').attr('src', result); //图片链接（base64）
			  });
			},
			done: function(res){
			  //如果上传失败
			  if(res.code == 0){
				return layer.msg('上传失败');
			  }
			  //上传成功
			  if(res.code == 1){
				$("#picurl").val(res.url);
			  }
			},
			error: function(){
			  //演示失败状态，并实现重传
			  var demoText = $('#demoText');
			  demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
			  demoText.find('.demo-reload').on('click', function(){
				uploadInst.upload();
			  });
			}
		  });
		  
		  
		  
		});
	</script>
</body>

</html>