<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__ADMINCSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__ADMINCSS__/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>
<script type="text/javascript" src="__ADMINJS__/select-ui.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="<?php echo url('admin/index/main');?>">首页</a></li>
    <li><a href="#">修改管理员</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>修改管理员</span><a href="javascript:location.reload();" style="float:right;">刷新</a></div>
    <form id="form" action="<?php echo url('admin/adminuser/update_user');?>" method="post">
	<input type="hidden" name="id" value="<?php echo input('param.id');?>">
    <ul class="forminfo">
    <li><label>原密码</label><input name="old_password" type="password" class="dfinput" /><i></i></li>
    <li><label>新密码</label><input name="password" type="password" class="dfinput" /><i></i></li>
    <li><label>重复密码</label><input name="repassword" type="password" class="dfinput" /><i></i></li>
    <li>
		<label>权限</label>
		<div class="vocation">
			<select name = "levelname" class="select2">
				<?php  foreach($res as $v){?>
				<option value="<?php echo $v['id'];?>" <?php if($v['id'] == $user['levelname']){ echo 'selected = "selected"';}?> ><?php echo $v['groupname'];?></option>
				<?php }?>
			</select>
		</div>
	</li>
	
    <li>
		<label>审核</label>
		<cite>
			<input name="checkadmin" type="radio" value="true" <?php if( $user['checkadmin'] == 'true'){ echo 'checked="checked"';}?>  />已审核&nbsp;&nbsp;&nbsp;&nbsp;
			<input name="checkadmin" type="radio" value="false" <?php if( $user['checkadmin'] == 'false'){ echo 'checked="checked"';}?>   />未审核
		</cite>
	</li>
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="修改"/> <input onclick="history.go(-1);" type="button" class="btn2" value="返回"/></li>
    </ul>
    </form>
    
    </div>
	
<script>
/*
	$(".btn").click(function(){
		var action = $("#form").attr("action");
		
		$.post(action,$("#form").serialize(),function(data){
			
		
		},"json");
		
		
	});
	
	*/
</script>

</body>

</html>
