<style>
.admin-main {
    margin: 15px;
}

.layui-anim-upbit {
    -webkit-animation-name: layui-upbit;
    animation-name: layui-upbit;
}
.layui-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
div {
    display: block;
}
.layui-elem-field {
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #e2e2e2;
}
user agent stylesheet
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
.layui-elem-field legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}
user agent stylesheet
legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.layui-field-box {
    padding: 10px 15px;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
.ztree {
    margin: 0;
    padding: 5px;
    color: #333;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ul.ztree li {
    white-space: inherit;
}

ul.ztree>li {
    background: #dae6f0;
    padding: 8px;
}
.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
li {
    list-style: none;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul.ztree li span.button.switch {
    margin-right: 5px;
}
.ztree li span.button.noline_open {
    background-position: -92px -72px;
}
.ztree li span.button.switch {
    width: 18px;
    height: 18px;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span.button.chk.checkbox_false_part {
    background-position: 0 -28px;
}
.ztree li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
user agent stylesheet
ul ul, ol ul {
    list-style-type: circle;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ul.ztree>li ul li {
    background: #eef5fa;
    margin-top: 8px;
    padding: 5px;
}

ul.ztree li {
    white-space: inherit;
}
.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
li {
    list-style: none;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul.ztree li span.button.switch {
    margin-right: 5px;
}
.ztree li span.button.noline_open {
    background-position: -92px -72px;
}
.ztree li span.button.switch {
    width: 18px;
    height: 18px;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span.button.chk.checkbox_true_full {
    background-position: -14px 0;
}
.ztree li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span.button.ico_open {
    margin-right: 2px;
    background-position: -110px -16px;
    vertical-align: top;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square;
}
user agent stylesheet
ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
user agent stylesheet
ul ul, ol ul {
    list-style-type: circle;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.ztree>li ul li ul li {
    background: #f6fbff;
    padding: 5px;
}
ul.ztree>li ul li {
    background: #eef5fa;
    margin-top: 8px;
    padding: 5px;
}
ul.ztree li {
    white-space: inherit;
}
.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
li {
    list-style: none;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.ztree li span.button.switch {
    margin-right: 5px;
}
.ztree li span.button.noline_open {
    background-position: -92px -72px;
}
.ztree li span.button.switch {
    width: 18px;
    height: 18px;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li span.button.chk.checkbox_true_full {
    background-position: -14px 0;
}
.ztree li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}

.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span.button.ico_open {
    margin-right: 2px;
    background-position: -110px -16px;
    vertical-align: top;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square;
}
user agent stylesheet
ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
user agent stylesheet
ul ul, ol ul {
    list-style-type: circle;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.ztree>li ul li ul li ul li {
    background: #fff;
    padding: 5px;
}
ul.ztree>li ul li ul li {
    background: #f6fbff;
    padding: 5px;
}
ul.ztree ul ul ul li {
    display: inline-block;
}
ul.ztree>li ul li {
    background: #eef5fa;
    margin-top: 8px;
    padding: 5px;
}
ul.ztree li {
    white-space: inherit;
}
.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
li {
    list-style: none;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul.ztree li span.button.switch {
    margin-right: 5px;
}
.ztree li span.button.noline_docu {
    background: none;
}
.ztree li span.button.switch {
    width: 18px;
    height: 18px;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li span.button.chk.checkbox_true_full {
    background-position: -14px 0;
}
.ztree li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
Inherited from li#treeDemo_7.level3
ul.ztree li {
    white-space: inherit;
}
.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
li {
    list-style: none;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ztree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li span.button.ico_docu {
    margin-right: 2px;
    background-position: -110px -32px;
    vertical-align: top;
}
.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}
.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.ztree li span {
    line-height: 16px;
    margin-right: 2px;
}
.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}
.ztree li input {
   
}


.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
	
}
.form-group {
    margin-bottom: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet

@media (min-width: 768px)
.col-sm-offset-2 {
    margin-left: 16.66666667%;
}
@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333333%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}
.btn-primary {
    color: #fff;
    border-color: #1ab394;
    background-color: #1ab394;
}
.btn {
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}

.btn-white {
    color: inherit;
    border: 1px solid #e7eaec;
    background: #fff;
}
.btn {
    border-radius: 3px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
user agent stylesheet
button {
    -webkit-appearance: button;
}
Inherited from div.ibox-content
.ibox-content {
    padding: 15px 20px 20px;
    color: inherit;
    border-width: 1px 0;
    border-style: solid solid none;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    background-color: #fff;
}
</style>


<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field">
        <legend>配置权限</legend>
        <div class="layui-field-box">
            <form id="form" action="{:url('auth/group_access')}" method="post" class="layui-form layui-form-pane">
				<input type="hidden" name="group_id" value="{$group_id}">
                <ul  class="ztree">
					<li  class="level0" tabindex="0">
						<span id="treeDemo_1_switch" title="" class="button level0 switch noline_open"></span>
						<input id="checkedAll" type="checkbox" name="" value="all">
						<a id="treeDemo_1_a" class="level0"  onclick="" target="_blank" style="" title="全部">
							<span id="treeDemo_1_ico" title="" class="button ico_open" style="width:0px;height:0px;"></span>
							<span id="treeDemo_1_span" class="node_name">全部</span>
						</a>
						<ul  class="level0 " style="display:block">
							{php }$ty =1;{/php}
							{volist name="all_tree" id="vo" }
							<li id="treeDemo_{$ty}" class="level1" tabindex="0" >
								<span  title="" class="button level1 switch noline_open" ></span>
								<input id="tow_tree_{$ty}" onclick="two_tree(this,{$ty})" type="checkbox" name="check_list[]" value="{$vo['id']}">
								<a  class="level1"  onclick="" target="_blank" style="" title="{$vo['title']}">
									<span  title=""  class="button ico_open" style="width:0px;height:0px;"></span>
									<span  class="node_name">{$vo['title']}</span>
								</a>
								<ul  class="level1 " style="display:block">
									{notempty name="vo['child']"}
									{php }$j =1;{/php}
									{volist name="vo['child']" id="child" }
									<li id="fourDemo_{$ty}_{$j}" class="level2" tabindex="0" >
										<span  title="" class="button level2 switch noline_open" ></span>
										<input id="three_tree_{$ty}" onclick="three_tree(this,{$ty},{$j})" type="checkbox" name="check_list[]" value="{$child['id']}">
										<a  class="level2"  onclick="" target="_blank" style="" title="{$child['title']}">
											<span  title=""  class="button ico_open" style="width:0px;height:0px;"></span>
											<span  class="node_name">{$child['title']}</span>
										</a>
										{notempty name="child['operator']"}
										<ul id="tree_three_{$ty}_{$j}"  class="level2 " style="display:block">
											{php }$t =1;{/php}
											{volist name="child['operator']" id="op" }
											<li  class="level3" tabindex="0" >
												<span  title="" class="button level3 switch noline_docu" ></span>
												<input onclick="four_tree(this,{$ty},{$j})" type="checkbox" name="check_list[]" value="{$op['id']}">
												<a  class="level3"  onclick="" target="_blank" style="" title="{$op['title']}">
													<span  title=""  class="button ico_docu" style="width:0px;height:0px;"></span>
													<span class="node_name">{$op['title']}</span>
												</a>
												
												{notempty name="op['four']"}
												<ul id="tree_four_{$ty}_{$j}"  class="level2 " style="display:block">
													{php }$t =1;{/php}
													{volist name="op['four']" id="end" }
													<li  class="level3" tabindex="0" >
														<span  title="" class="button level3 switch noline_docu" ></span>
														<input onclick="five_tree(this,{$ty},{$j})" type="checkbox" name="check_list[]" value="{$end['id']}">
														<a  class="level3"  onclick="" target="_blank" style="" title="{$end['title']}">
															<span  title=""  class="button ico_docu" style="width:0px;height:0px;"></span>
															<span class="node_name">{$end['title']}</span>
														</a>
													</li>
													{php }$t++;{/php}
													{/volist}
												</ul>
												{/notempty}
											</li>
											{php }$t++;{/php}
											{/volist}
										</ul>
										{/notempty}
									</li>
									{php }$j++;{/php}
									{/volist}
									{/notempty}
								</ul>
							</li>
							{php }$ty++;{/php}
							{/volist}
						</ul>
						<div class="form-group" style="margin-top:20px;">
							
							<div class="col-sm-4 col-sm-offset-2">
								<button onclick="onSubmit();" class="btn btn-primary" type="button">保存内容</button>
								<button onclick="javascript:history.back();" class="btn btn-white" type="button">返回</button>
							</div>
						</div>
					</li>
				</ul>
            </form>
			
		</div>
		<script src="__ADMINJS__/jquery.min.js?v=2.1.4"></script>
		<script type="text/javascript">
			//提交
			function onSubmit(){
				//alert(111);
				$("#form").submit();
			}
			//配置的权限
			var rules =  [{$group_rules}];
			if(rules.length > 0){
				$("#checkedAll").prop("checked",true);
			}
			
			$("input[name='check_list[]']").each(function(){
				if( $.inArray( parseInt($(this).val(),10),rules )>-1 ){
					$(this).prop('checked',true);
				}
			});
			
			
			//全选 ，全取消
			$("#checkedAll").click(function() {
				if ($(this).is(':checked') ) {  
					//全选
					 $("input[name='check_list[]']").prop("checked",this.checked); 
				} else {  
					//取消全选
					$("input[name='check_list[]']").prop("checked",this.checked);
				}
			});
			//二级全选
			function two_tree(ele,tree_id){
				if ($(ele).is(':checked') ) { 
					$("#treeDemo_"+tree_id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",true); 
					});
					$("#checkedAll").prop("checked",true);
				} else {  
					//取消全选
					$("#treeDemo_"+tree_id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",false); 
					});
					$("#checkedAll").prop("checked",false);
				}
			}
			//三级全选
			function three_tree(ele,tree_id,id){
				if ($(ele).is(':checked') ) { 
					$("#tree_three_"+tree_id+"_"+id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",true); 
					}); 
					$("#checkedAll").prop("checked",true);
					$("#tow_tree_"+tree_id).prop("checked",true);
				} else {  
					//取消全选
					$("#tree_three_"+tree_id+"_"+id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",false); 
					});
					//$("#checkedAll").prop("checked",false);
					//$("#tow_tree_"+tree_id).prop("checked",false);
				}
			}
			//四级
			function four_tree(ele,tree_id,four_id){
				if ($(ele).is(':checked') ) {
					$("#checkedAll").prop("checked",true);
					$("#tow_tree_"+tree_id).prop("checked",true);
					$("#fourDemo_"+tree_id+"_"+four_id).find(" input[name='check_list[]']").eq(0).prop("checked",true);
					$("#tree_four_"+tree_id+"_"+four_id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",true); 
					});
				}else{
					$("#tree_four_"+tree_id+"_"+four_id).find(" input[name='check_list[]']").each(function(){
						$(this).prop("checked",false); 
					});
				}
			}
			
		</script>
		

    </fieldset>
</div>