<div id="footer" class="clf">
    <a href="#javascript:;" class="footerlogo l">
        <img src="__INDEXIMG__/footerlogo.png" alt="">
    </a>
    <ul class="l clf">
        <li>
            <p>关于我们</p>
            <a href="#javascript:;"><span>关于我们</span></a>
            <a href="#javascript:;"><span>形象展示</span></a>
            <a href="#javascript:;"><span>实例展示</span></a>
            <a href="#javascript:;"><span>SLOG展示</span></a>
        </li>
        <li>
            <p>项目类别</p>
            <a href="#javascript:;"><span>宣传片</span></a>
            <a href="#javascript:;"><span>广告片</span></a>
            <a href="#javascript:;"><span>产品片</span></a>
            <a href="#javascript:;"><span>微电影</span></a>
            <a href="#javascript:;"><span>建筑动画</span></a>
            <a href="#javascript:;"><span>MG动画</span></a>
        </li>
        <li>
            <p>新闻资讯</p>
            <a href="#javascript:;"><span>最新动态</span></a>
            <a href="#javascript:;"><span>行业新闻</span></a>
        </li>
        <li>
            <p>关注微信公众号</p>
            <img src="__INDEXIMG__/footerwx.jpg" alt="">
        </li>
    </ul>
    <div class="content">
        <p class="title">联系我们</p>
        <p>电话：057156976551</p>
        <p>地址：浙江省杭州市拱墅区莫干山路1165号<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;复地北城中心二楼</p>
        <p>网址：<a href="www.hzdiz.com">www.hzdiz.com</a></p>
        <p class="icon">
            <a href="#javascript:;" class="w"></a>
            <a href="#javascript:;" class="p"></a>
            <a href="#javascript:;" class="d"></a>
        </p>
    </div>
</div>
<p class="stro">Copyright © 2017 顶致数字  版权所有 浙ICP备123456789号-1     技术支持：<a href="http://www.shkj.net/">赛虎科技</a></p>
<script src="__INDEXJS__/jquery-1.9.1.min.js" charset="utf-8"></script>
<script src="__INDEXJS__/jquery.SuperSlide.2.1.1.js" charset="utf-8"></script>
