<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>顶致新闻详情页</title>
        <link rel="stylesheet" href="__INDEXCSS__/public.css">
        <link rel="stylesheet" href="__INDEXCSS__/main.css">
    </head>
    <body>
        <?php include 'header.php' ?>
        <div id="rightcontent">
            <div class="newsdetails">
                <div class="pw">
                    <h4>Star World银饰品牌TVC广告片</h4>
                    <div class="timeshare">
                        <span>宣传片</span>
                        <span>2017-11-14</span>
                        <div class="share l">
                            <span>分享：</span>
                            <div class="jiathis_style r">
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        </div>
                    </div>
                    <div class="contents">
                        此视频为Star World品牌TVC广告片，银饰是用银制成的各种各样的装饰品，银为贵金属之一，银白色，银饰采用各种加工工艺，加工成的银饰品种类繁多，基本分为耳饰、颈饰、手饰、足饰和服饰5个大类。新中国成立后，特别是改革开放以来，传统的银饰，走近千家万户，仍然受到许多人的喜爱，特别是某些少数民族地区的银饰，如苗族的银匠业就极为发达。
                    </div>
                </div>
            </div>
            <?php include 'footer.php' ?>
        </div>

    </body>
</html>
