<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>顶致新闻列表页</title>
        <link rel="stylesheet" href="__INDEXCSS__/public.css">
        <link rel="stylesheet" href="__INDEXCSS__/main.css">
    </head>
    <body>
        {include file="index/header"}
        <div id="rightcontent">
            <div class="newslist">
                <div class="pw-top">
                    <h4>新闻资讯</h4>
                    <i class="line"></i>
                    <p>第一时间为为您公布顶尖行业动态</p>
                    <div class="abox">
                        <a href="#javascript:;">最新动态</a>
                        <a href="#javascript:;">行业新闻</a>
                    </div>
                </div>
                <div class="content">
                    <ul class="newscontent">
                        <li>
                            <a href="newsdetails.php" class="clf">
                                <div class="time l">
                                    <p>25</p>
                                    <span>09</span>
                                </div>
                                <div class="txtbox">
                                    <h6>让爱回归-方太柏橱微电影小记</h6>
                                    <p>BORCCI柏厨，是方太集团旗下高端厨柜品牌，本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。BORCCI柏厨，是方太集团旗下高端厨柜品牌本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="newsdetails.php" class="clf">
                                <div class="time l">
                                    <p>25</p>
                                    <span>09</span>
                                </div>
                                <div class="txtbox">
                                    <h6>让爱回归-方太柏橱微电影小记</h6>
                                    <p>BORCCI柏厨，是方太集团旗下高端厨柜品牌，本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。BORCCI柏厨，是方太集团旗下高端厨柜品牌本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="newsdetails.php" class="clf">
                                <div class="time l">
                                    <p>25</p>
                                    <span>09</span>
                                </div>
                                <div class="txtbox">
                                    <h6>让爱回归-方太柏橱微电影小记</h6>
                                    <p>BORCCI柏厨，是方太集团旗下高端厨柜品牌，本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。BORCCI柏厨，是方太集团旗下高端厨柜品牌本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="newsdetails.php" class="clf">
                                <div class="time l">
                                    <p>25</p>
                                    <span>09</span>
                                </div>
                                <div class="txtbox">
                                    <h6>让爱回归-方太柏橱微电影小记</h6>
                                    <p>BORCCI柏厨，是方太集团旗下高端厨柜品牌，本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。BORCCI柏厨，是方太集团旗下高端厨柜品牌本次携手共同打造微电影，旨在让更多人能暂时放下忙碌的工作，让爱回归。</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="pw-numnav">
                        <a href="#javascript:;" class="btn">上一页</a>
                        <a href="#javascript:;">1</a>
                        <a href="#javascript:;">2</a>
                        <a href="#javascript:;" class="btn">下一页</a>
                    </div>
                </div>
            </div>
            {include file="index/footer"}
        </div>
        <script type="text/javascript">
            $(function(){
                //  导航选中
                //$('#leftmenu ul li').eq(4).addClass('select');

            })
        </script>

    </body>
</html>
