<?php
use think\Db;
?>
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="__ADMINCSS__/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__ADMINCSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMINCSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__ADMINCSS__/animate.min.css" rel="stylesheet">
    <link href="__ADMINCSS__/style.min.css?v=4.0.0" rel="stylesheet">
    
    <link href="__ADMINCSS__/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="__ADMINCSS__/plugins/codemirror/ambiance.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改模板</h5>
                        <div class="ibox-tools">
                            <a href="javascript:location=location;">刷新</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="{:url('admin/template/edit_all')}" method="post" class="form-horizontal">
							<input type="hidden" name="fname" value={:input('param.fname')}>
                            
							<div class="form-group">
                                <label class="col-sm-2 control-label">css替换</label>

                                <div class="col-sm-2">
                                    <input value="{:config('template_css')}" name="css" type="text" class="form-control" placeholder="需要替换的内容"  >
                                </div>
								<div class="col-sm-2">
                                    <input value="__INDEXCSS__/" name="upcss" type="text" class="form-control" placeholder="被替换的内容"  >
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">js替换</label>

                                <div class="col-sm-2">
                                    <input value="{:config('template_js')}" name="js" type="text" class="form-control" placeholder="需要替换的内容"  >
                                </div>
								<div class="col-sm-2">
                                    <input value="__INDEXJS__/" name="upjs" type="text" class="form-control" placeholder="被替换的内容"  >
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">image替换</label>

                                <div class="col-sm-2">
                                    <input value="{:config('template_image')}" name="image" type="text" class="form-control" placeholder="需要替换的内容"  >
                                </div>
								<div class="col-sm-2">
                                    <input value="__INDEXIMG__/" name="upimage" type="text" class="form-control" placeholder="被替换的内容"  >
                                    
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-sm-2 control-label">注：</label>

                                <div class="col-sm-4">
                                	<span class="help-block m-b-none">css/，js/，images/请在admin模块下的config.php文件内更改</span>
                                </div>
								
                            </div>
							
							
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button onclick="javascript:history.back();" class="btn btn-white" type="button">返回</button>
                                </div>
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__ADMINJS__/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMINJS__/bootstrap.min.js?v=3.3.5"></script>
    <script src="__ADMINJS__/content.min.js?v=1.0.0"></script>
    <script src="__ADMINJS__/plugins/iCheck/icheck.min.js"></script>
    
    <script src="__ADMINJS__/plugins/codemirror/codemirror.js"></script>
    <script src="__ADMINJS__/plugins/codemirror/mode/javascript/javascript.js"></script>
    
    <script>
        $(document).ready(function(){
        	var editor_one=CodeMirror.fromTextArea(
        		document.getElementById("content"),{
        			lineNumbers:true,matchBrackets:true,styleActiveLine:true,theme:"ambiance"
        		});
        	editor_one.setSize('height','500px');
        	
        });
    </script>
</body>

</html>